#####################################################
#
#  █████╗ ██╗     ██╗ █████╗ ███████╗███████╗███████╗
# ██╔══██╗██║     ██║██╔══██╗██╔════╝██╔════╝██╔════╝
# ███████║██║     ██║███████║███████╗█████╗  ███████╗
# ██╔══██║██║     ██║██╔══██║╚════██║██╔══╝  ╚════██║
# ██║  ██║███████╗██║██║  ██║███████║███████╗███████║
# ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝
#
#####################################################

# NOTE: DO NOT WRAP SEMICOLONS IN DOUBLE QUOTES: https://github.com/liuchengxu/vista.vim/issues/207#issuecomment-682231513
#       This bug drove me nuts, and caused vista.vim to crash. Just don't do it.

# $ ls and Friends {{{

if [ "$OS" = "Darwin" ]; then
    alias l='lsd -1A --group-dirs first -I=.DS_Store'
    alias ls='lsd -1A --group-dirs first -I=.DS_Store'
    alias tree='ls --tree -I=.DS_Store'
elif [ "$OS" = "Linux" ]; then
    alias ls='lsd -1A --group-dirs first'
    alias tree='ls --tree'
fi

alias LS='ls'
alias ll='lsd -1Al --group-dirs first'
alias l='lsd -1Al --group-dirs first'

# END $ ls and Friends }}}

# Directory Traversal and Finding {{{

alias fd="fd --hidden --exclude '.git'"

# Because I clearly can't fucking type
alias cdd='cd'

# }}}

# Updates {{{

alias vimup='nvim "+PlugUpdate" "+PlugUpgrade" "+CocUpdate" "+qall";'
alias pipup='pip list --outdated --format=freeze | grep -v "^\-e" | cut -d = -f 1  | xargs -n1 pip install -U'
alias zcomet_up='zcomet self-update && zcomet update'

if [ "$OS" = "Darwin" ]; then
    alias brewup='brew update; brew upgrade; brew cask upgrade; brew cleanup; brew doctor;'
    alias update='rustup update; cargo install-update -a; brewup; apm upgrade --no-confirm; echo -n "\n1Password: $(op update)\n"; vimup; zcomet_up; -u; npm update -g;'
elif [ "$OS" = "Linux" ]; then
    alias apt='nala'
    alias aptup='sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y'
    alias nalaup='sudo nala update && sudo nala upgrade -y && sudo nala autoremove -y'
    alias update='rustup update; aptup; flatpak update -y; vimup; snap refresh; zcomet_up; tldr -u; npm update -g;'
fi


# END Updates }}}

# 1Password {{{

alias 1p_signin='eval $(op signin my)'
alias op_signin='1p_signin'

# END 1Password }}}

# Binary Analysis / RE / Forensics {{{

alias objdumpd='objdump -x86-asm-syntax=intel -d' # Disassemble with Intel syntax
alias vol='volatility --plugins=/Users/alichtman/volatility-plugins'

# END Binary Analysis / RE / Forensics }}}

# Home Cleanup {{{

alias wget="wget --hsts-file=\"$XDG_CACHE_HOME\"/wget-hsts"
alias ncmpcpp="ncmpcpp ncmpcpp_directory=$XDG_CONFIG_HOME/ncmpcpp/"
alias yarn='yarn --use-yarnrc "$XDG_CONFIG_HOME/yarn/config"'

# END Home Cleanup }}}

# git / GitHub {{{

alias git='hub'
alias pr='hub pull-request'
alias changelog='github_changelog_generator'
alias mdpreview='grip -b'

# END git / GitHub }}}

# Pypi {{{

alias pypitestup='python3 setup.py sdist; twine upload --repository testpypi dist/*'
alias pip3test='pip3 install --index-url https://test.pypi.org/simple/'
alias pypiup='python3 setup.py sdist; twine upload --repository pypi dist/*'
alias pypibinary='python3 setup.py sdist'
alias poetrypublish="poetry publish --user $PYPI_USERNAME --password $PYPI_PASSWORD"

# END Pypi }}}

# pyenv {{{

# Used to install python in a way that makes YCM happy
alias pyenv-install='env PYTHON_CONFIGURE_OPTS="--enable-framework CC=clang" pyenv install'

# END pyenv }}}

# Verbosity {{{

alias cp='cp -iv'
alias mv='mv -iv'

# }}}

# Convenience {{{

alias b64='base64'
alias batp='bat --paging=always'
alias cal='calz'
alias cat='bat'
alias calc='insect'
alias cloc='tokei'
alias cpwd='pwd | xargs echo -n | yank' # Copy the working dir to the clipboard
alias fuck='TF_ALIAS=fuck PYTHONIOENCODING=utf-8 thefuck $(fc -ln -1)'
alias google="googler -l en"
alias glow='glow -p'
alias ncdu='ncdu --color dark'
alias notes='fzf-notes'
alias mutt='neomutt'
alias ping='prettyping --nolegend'
alias please='sudo $(fc -ln -1)' # Rerun last command with sudo
alias public_ip='ipconfig getifaddr en0'
alias scratch='nvim ~/scratchpad/scratch'
alias server='echo "Server IP Address copied to clipboard" && echo "`public_ip`" | yank && sudo python3 -m http.server 80'
alias mbsync="mbsync -c $XDG_CONFIG_HOME/isync/mbsyncrc"

# Make sudo use aliases
# https://unix.stackexchange.com/a/148548
alias sudo='sudo '

alias tags='ctags -R .'

if [ "$OS" = "Darwin" ]; then
    alias yank='pbcopy'
    alias run='launch'
    # This hack fixes some weird tmux + zsh bug
    alias fg='setopt monitor && fg'
    alias trash='trash -F'
elif [ "$OS" = "Linux" ]; then
    alias run='rofi -show run'
    alias yank='xsel -ib'
    alias paste-img='xclip -selection clipboard -t image/png -o > '
    alias open='xdg-open'
    alias trash='trash-put'
    alias reboot_to_bios='systemctl reboot --firmware-setup'
    alias openRGB='(cd /opt/OpenRGB && sudo ./openrgb)'
    alias obsidian='flatpak run md.obsidian.Obsidian'
    alias keyboard='openrgb -p "Soft Red.orp"'
    alias led='polychromatic-cli -d keyboard -c "#FFFFFF" -o static -o brightness -p 100'
    alias leds='polychromatic-cli -d keyboard -c "#FFFFFF" -o static -o brightness -p 100'
fi

alias rm='trash'

# END Convenience }}}

# Habit Tracking {{{

alias jrnl='dijo -c "track-up jrnl" && jrnl'

# END Habit Tracking

# Debian Packaging {{{

alias dquilt="quilt --quiltrc=$XDG_CONFIG_HOME/.quiltrc-dpkg"

# END Debian Packaging }}}

# tmux {{{

alias ts='tmux switch-client -t'
function tnew() {
    if [ -z "$1" ]; then
        tmux switch-client -t `tmux new -dP`
    else
        NEW_SESSION=`tmux new-session -dP -s "$1"`
        tmux switch-client -t "$NEW_SESSION"
    fi
}
# alias tnew='tmux switchc -t `tmux new -dP`'
alias ta='tmux new-session -As'
alias tkss='tmux kill-session -t'
alias tksv='tmux kill-server'

# }}}

# Hashes {{{

alias sha1='openssl dgst -sha1'
alias sha256='openssl dgst -sha256'

# END Hashes }}}

# Taskwarrior {{{

alias t='task list'
alias tasks='task next'

# END Tasks and Habits }}}

# Editors {{{

alias vim='nvim'
alias vimdiff='nvim -d'
alias xcode='open -a Xcode'

# vim habits
alias :wq="exit"
alias :q="exit"

# END Editors }}}

# Configs {{{

alias aliases="vim $XDG_CONFIG_HOME/zsh/.aliases"
alias zfunctions="vim $XDG_CONFIG_HOME/zsh/.zfunctions"
alias zshrc="vim $XDG_CONFIG_HOME/zsh/.zshrc"
alias zshenv="vim $XDG_CONFIG_HOME/zsh/.zshenv"
alias src-zshrc="source $XDG_CONFIG_HOME/zsh/.zshrc"
alias vimrc="vim $XDG_CONFIG_HOME/nvim/init.vim"
alias tmux.conf="vim $XDG_CONFIG_HOME/tmux/tmux.conf"

# END Configs }}}

# r/unixporn {{{

alias gitstats='onefetch'
alias mandelbrot='bash ~/bin/mandelbrot'
alias matrix='unimatrix -s 93'
alias news='newsroom'
alias pipes='pipes.sh -f 75 -t 3 -B'
alias reddit='tuir'
alias spotify='spt'
alias trip='yes "$(seq 231 -1 16)" | while read i; do printf "\x1b[48;5;${i}m\n"; sleep .02; done'
alias weather='curl wttr.in'
alias youtube='mpsyt'

# END r/unixporn }}}

# htb {{{

alias htb_connect='sudo openvpn ~/Desktop/Development/lab_alichtman.ovpn'

# }}}

# macOS Management {{{

if [ "$OS" = "Darwin" ]; then
    # Murder various things when they break
    alias kill-touchbar='sudo pkill "Touch Bar agent";sudo killall "ControlStrip";'
    alias kill-dock='killall Dock'

    # Time Machine Optimization
    alias unthrottle-time-machine='sudo sysctl debug.lowpri_throttle_enabled=0;'
    alias throttle-time-machine='sudo sysctl debug.lowpri_throttle_enabled=1;'

    # Desktop
    alias show-desktop='defaults write com.apple.finder CreateDesktop true; killall Finder'
    alias hide-desktop='defaults write com.apple.finder CreateDesktop false; killall Finder'

    # Updates
    alias reset-ignored-updates='sudo softwareupdate --reset-ignored'

    # Volume
    alias mute="osascript -e 'set volume output muted true'"
    alias unmute="osascript -e 'set volume output muted false'"
fi

# END macOS Management }}}

# Linux Management {{{

if [ "$OS" = "Linux" ]; then
    alias sxhkd='sxhkd >/dev/null 2>&1 &'
    alias restart_pulseaudio='pulseaudio -k && pulseaudio -D'
fi

# END Linux Management }}}

# vim: ft=zsh
