#####################################################
#
#  █████╗ ██╗     ██╗ █████╗ ███████╗███████╗███████╗
# ██╔══██╗██║     ██║██╔══██╗██╔════╝██╔════╝██╔════╝
# ███████║██║     ██║███████║███████╗█████╗  ███████╗
# ██╔══██║██║     ██║██╔══██║╚════██║██╔══╝  ╚════██║
# ██║  ██║███████╗██║██║  ██║███████║███████╗███████║
# ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝
#
#####################################################

# $ ls and Friends {{{

if [ "$OS" = "Darwin" ]; then
    alias l='lsd -1A --group-dirs first -I=.DS_Store'
    alias ls='lsd -1A --group-dirs first -I=.DS_Store'
    alias tree='ls --tree -I=.DS_Store'
elif [ "$OS" = "Linux" ]; then
    alias ls='lsd -1A --group-dirs first'
    alias tree='ls --tree'
fi

alias LS='ls'
alias ll='lsd -1Al --group-dirs first'

# END $ ls and Friends }}}

# Directory Traversal and Finding {{{

alias fd="fd --hidden --exclude '.git'"

# Autojump with j and jj
alias j='z'
alias jj='zz'

# Because I clearly can't fucking type
alias cdd='cd'

# }}}

# Updates {{{

alias zinit-update='zinit self-update; zinit update --all;'
alias vimup="nvim '+PlugUpdate' '+PlugUpgrade' '+CocUpdate' '+qall';"
alias brewup='brew update; brew upgrade; brew cask upgrade; brew cleanup; brew doctor;'
alias pipup='pip freeze — local | grep -v ‘^\-e’ | cut -d = -f 1 | xargs pip install -U'
alias update='upgrade_oh_my_zsh; rustup update; cargo install-update -a; brewup; apm upgrade --no-confirm; echo -n "\n1Password: $(op update)\n"; vimup; zinit-update; tldr -u; npm update -g; pipup;'

# END Updates }}}

# 1Password {{{

alias 1p_signin='eval $(op signin my)'
alias op_signin='1p_signin'

# END 1Password }}}

# Binary Analysis / RE / Forensics {{{

alias objdumpd='objdump -x86-asm-syntax=intel -d' # Disassemble with Intel syntax
alias vol='volatility --plugins=/Users/alichtman/volatility-plugins'

# END Binary Analysis / RE / Forensics }}}

# HackTheBox {{{

alias htb="sudo openvpn ~/Desktop/alichtman.ovpn"

# }}}

# Base conversion {{{

alias rc='radix-calc'
alias rcc='radix-calc --all'

# END Base conversion }}}

# git / GitHub {{{

alias git='hub'
alias pr='hub pull-request'
alias changelog='github_changelog_generator'
alias mdpreview='grip -b'

# END git / GitHub }}}

# Pypi {{{

alias pypitestup='python3 setup.py sdist; twine upload --repository testpypi dist/*'
alias pip3test='pip3 install --index-url https://test.pypi.org/simple/'
alias pypiup='python3 setup.py sdist; twine upload --repository pypi dist/*'
alias pypibinary='python3 setup.py sdist'
alias poetry-publish='poetry publish --user $PYPI_USERNAME --password $PYPI_PASSWORD'

# END Pypi }}}

# pyenv {{{

# Used to install python in a way that makes YCM happy
alias pyenv-install='env PYTHON_CONFIGURE_OPTS="--enable-framework CC=clang" pyenv install'

# END pyenv }}}

# Verbosity {{{

alias cp="cp -iv"
alias mv="mv -iv"

# }}}

# Convenience {{{

alias b64='base64'
alias batp='bat --paging=always'
alias cal='calz'
alias calc='insect'
alias cloc='tokei'
alias cpwd='pwd | xargs echo -n | yank' # Copy the working dir to the clipboard
alias fuck='TF_ALIAS=fuck PYTHONIOENCODING=utf-8 thefuck $(fc -ln -1)'
alias google="googler -l en"
alias glow='glow -p'
alias ncdu='ncdu --color dark'
alias notes='fzf-notes'
alias ping='prettyping --nolegend'
alias please='sudo $(fc -ln -1)' # Rerun last command with sudo
alias public_ip='ipconfig getifaddr en1'
alias server='echo "Server IP Address copied to clipboard" && echo "`public_ip`:8000/" | yank && python3 -m http.server'
alias tags='ctags -R .'

if [ "$OS" = "Darwin" ]; then
    alias yank='pbcopy'
    alias run='launch'
    # This hack fixes some weird tmux + zsh bug
    alias fg='setopt monitor && fg'
elif [ "$OS" = "Linux" ]; then
    alias run='rofi -show run'
    alias yank='xsel -ib'
    alias open='xdg-open'
fi

# END Convenience }}}

# File Removal {{{

alias trash='trash -F'

if hash safe-rm; then
    alias rm="safe-rm"
fi

# }}}

# tmux {{{

# alias tmux='tmux -f "$XDG_CONFIG_HOME"/tmux/tmux.conf'
alias ta='tmux attach -t'
alias tad='tmux attach -d -t'
alias tkss='tmux kill-session -t'
alias tksv='tmux kill-server'
alias tl='tls'
alias ts='tmux new-session -s'

# }}}

# Hashes {{{

alias sha1='openssl dgst -sha1'
alias sha256='openssl dgst -sha256'

# END Hashes }}}

# Tasks and Habits {{{

alias t='tb'
alias tasks='tb'
alias task='tb --task'
alias h='habitctl'
alias habits='habitctl log && echo "\nTODO:\n" && habitctl todo'
alias habitedit='habitctl edith'

# END Tasks and Habits }}}

# Editors {{{

alias vim='nvim'
alias vimdiff="nvim -d"
alias xcode='open -a Xcode'

# vim habits
alias :wq="exit"
alias :q="exit"

# END Editors }}}

# Configs {{{

alias aliases='vim $XDG_CONFIG_HOME/zsh/.aliases'
alias zfunctions='vim $XDG_CONFIG_HOME/zsh/.zfunctions'
alias zshrc='vim $XDG_CONFIG_HOME/zsh/.zshrc'
alias src-zshrc='source $XDG_CONFIG_HOME/zsh/.zshrc'
alias vimrc='vim $XDG_CONFIG_HOME/nvim/init.vim'
alias tmux.conf='vim ~/.tmux/tmux.conf'

# END Configs }}}

# r/unixporn {{{

alias mandelbrot='bash ~/bin/mandelbrot'
alias matrix='unimatrix -s 93'
alias news='newsroom'
alias pipes='pipes.sh -f 75 -t 3 -B'
alias reddit='tuir'
alias spotify='spt'
alias trip='yes "$(seq 231 -1 16)" | while read i; do printf "\x1b[48;5;${i}m\n"; sleep .02; done'
alias weather='curl wttr.in'
alias youtube='mpsyt'

# END r/unixporn }}}

# macOS Management {{{
if [ "$OS" = "Darwin" ]; then

    # For murdering various things when they break
    alias kill-touchbar='sudo pkill "Touch Bar agent";sudo killall "ControlStrip";'
    alias kill-dock='killall Dock'

    # Time Machine Optimization
    alias unthrottle-time-machine='sudo sysctl debug.lowpri_throttle_enabled=0;'
    alias throttle-time-machine='sudo sysctl debug.lowpri_throttle_enabled=1;'

    # Desktop
    alias show-desktop='defaults write com.apple.finder CreateDesktop true; killall Finder'
    alias hide-desktop='defaults write com.apple.finder CreateDesktop false; killall Finder'

    # Updates
    alias reset-ignored-updates='sudo softwareupdate --reset-ignored'

    # Volume
    alias mute="osascript -e 'set volume output muted true'"
    alias unmute="osascript -e 'set volume output muted false'"

fi

# END macOS Management }}}

# For an explanation of why the filetype is set to fish even though I use zsh,
# read this: https://github.com/liuchengxu/vista.vim/issues/207. I really hate
# computers sometimes.

# vim: ft=fish :
