###########
# Aliases #
###########

# $ ls and Friends
alias l='lsd -1A --group-dirs first'
alias ls='lsd -1A --group-dirs first --prefix-indent'
alias ll='lsd -1Al --group-dirs first'
alias tree='ls --tree'
# git ls (until lsd incorporates git status)
alias gls='LC_COLLATE=cs_CZ.ISO8859-2 colorls -1A --sd --gs'
alias color_ll='LC_COLLATE=cs_CZ.ISO8859-2 colorls -l -A --sd --gs'

# Autojump with z and zz
alias j='z'
alias jj='zz'

#########
# Updates
#########

alias brewup='brew update; brew upgrade; brew cask upgrade; brew cleanup; brew doctor'
alias cargo-update='cargo install-update -a'
alias update='cargo-update; brewup; apm upgrade --no-confirm; rustup update; op update; zplug update;'

###########
# 1Password
###########

alias 1p_signin='eval $(op signin my)'
alias op_signin='1p_signin'

##################################
# Binary Analysis / RE / Forensics
##################################

alias objdumpd='objdump -x86-asm-syntax=intel -d' # Disassemble with Intel syntax
alias rc='radix-calc'
alias rcc='radix-calc --all'
alias vol='volatility --plugins=/Users/alichtman/volatility-plugins'

#####
# Dev
#####

# github CLI integration
eval "$(hub alias -s)"
alias changelog='github_changelog_generator'

# Pypi
alias pypitestup='python3 setup.py bdist_wheel; twine upload --repository testpypi dist/*'
alias pip3test='pip3 install --index-url https://test.pypi.org/simple/'
alias pypiup='python3 setup.py bdist_wheel; twine upload --repository pypi dist/*'
alias pypibinary='python3 setup.py sdist'

# Convenience
alias ip='ipconfig getifaddr en0'
alias please='sudo $(fc -ln -1)' # Rerun last command with sudo
alias google="googler -l en"
alias fuck='eval $(TF_ALIAS=fuck PYTHONIOENCODING=utf-8 thefuck $(fc -ln -1))'
alias activate=". venv/bin/activate"
alias backup-dots='shallow-backup -dotfiles && cd ~/shallow-backup/dotfiles/ && ga . && gc -m "Update Dotfiles" && gp && cd -1'


# Editing
alias vim='nvim'
alias vimdiff="nvim -d"
alias spacemacs='emacs'
alias xcode='open -a Xcode'

# vim habits
alias :wq="exit"
alias :q="exit"

############
# r/unixporn
############

alias news="newsroom"
alias matrix='unimatrix -s 93'
alias pipes='pipes.sh -f 75 -t 3 -B'
alias trip='yes "$(seq 231 -1 16)" | while read i; do printf "\x1b[48;5;${i}m\n"; sleep .02; done'

##################
# macOS Management
##################

alias kill-touchbar='sudo pkill "Touch Bar agent";sudo killall "ControlStrip";'
alias unthrottle-time-machine='sudo sysctl debug.lowpri_throttle_enabled=0;'
alias throttle-time-machine='sudo sysctl debug.lowpri_throttle_enabled=1;'
alias show-desktop='defaults write com.apple.finder CreateDesktop true; killall Finder'
alias hide-desktop='defaults write com.apple.finder CreateDesktop false; killall Finder'
